<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../img/weather.png">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css">
   
</head>
<body>
  <div>
       {{>header}}
  <p>{{errorMessage}}</p>

  </div>
   

  {{>footer}}
</body>
</html>